.bgvideo{
  position:absolute;
  left: 0;
  top: 0;
  left: 0;
  bottom: auto;
  height:265%;
  width: 100% ;
  object-fit: cover;
  opacity: 0.8;
  z-index:-1;
  scroll-behavior: smooth;
}
.fb{

  position:relative;



  max-width: 5%;
  height: 5%;
  border-radius:5px;
    left: 565px;





}
.insta{
  position:relative;
    max-width: 5%;
  height: 5%;
  border-radius:5px;
  left: 780px;

}
.ln{
  position:relative;

  max-width: 5%;
  height: 5%;
  border-radius:5px;
  left: 750px;



}
.sm
{
  background-color:#CEE5D0;
}
.fa fa-instagram{
  position:relative;
    max-width: 5%;
  height: 5%;
  border-radius:5px;
  left: 780px;


}



h1,h2
{
color:#2C3333;
background-color:#CEE5D0;
font-family: 'Italiana', serif;
}
#heading
{
  color:black;
}
#round{
  border-radius: 100%;
}
img {
  max-width: 70%;
  height: auto;
  border-radius: 40px;
  background-color: #395B64;
}
img:hover{
  background-color: #395B64;
}
#F7E2D6

h1,h2
{
  font-family:fantasy;
  background-color:#CEE5D0;
  font-family: 'Italiana', serif;
}
h3{font-family:cursive;
}

hr
{
  border-color: grey;
  border-style:none;
  border-top-style:dotted;
  border-width: 8px;
  width: 90%;
}
ul{background-color:#;}
p{background-color:#;
  font-family:cursive;
}
ul{font-family:cursive}
table{font-family:cursive;}
